:root {
    --fontColor: rgb(0, 0, 0);
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#CalendarContainer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/** A calendar "door" */
.CalendarItem {
    margin: 10px;
    height: 230px;
    width: 150px;
    background-color: brown;
    padding: 0;
    display: flex;
}

.CalendarItem > a {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.CalendarItem > a:visited {
    text-decoration: none;
    color: inherit;
}

.CalendarItemTop {
    background-color: rgb(58, 58, 136);
    height: 65%;
    width: 100%;
}

.CalendarItemBottom {
    background-color: rgb(175, 94, 94);
    height: 35%;
    width: 100%;
}

.CalendarItemTop img {
    height: 100%;
    width: 100%;
}

.CalendarItemBottom h5 {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.Hidden {
    display: none;
}

#DayContainer {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 500px;
}

#SongPreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#songYoutubeContainer {

}

#songSpotifyContainer {
    margin-top: 10px;
}

.YoutubeDev {
    border-radius: 12px;
    height: 152px;
    width: 300px;
    background-color: #FF0000;
}

.SpotifyDev {
    border-radius: 12px;
    height: 152px;
    width: 300px;
    background-color: #1ED760;
}