@font-face {
    font-family: playfair-display-extrabold;
    src: url("../font/Playfair_Display/PlayfairDisplay-ExtraBold.ttf");
}

@font-face {
    font-family: playfair-display-bolditalic;
    src: url("../font/Playfair_Display/PlayfairDisplay-BoldItalic.ttf");
}

@font-face {
    font-family: varta-light;
    src: url("../font/Varta/Varta-Light.ttf");
}

@font-face {
    font-family: varta-regular;
    src: url("../font/Varta/Varta-Regular.ttf");
}

@font-face {
    font-family: varta-medium;
    src: url("../font/Varta/Varta-Medium.ttf");
}

@font-face {
    font-family: varta-bold;
    src: url("../font/Varta/Varta-Bold.ttf");
}

:root {
    --fontColor: rgb(0, 0, 0);
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#CalendarContainer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/** A calendar "door" */
.CalendarItem {
    margin: 10px;
    height: 230px;
    width: 150px;
    background-color: white;
    padding: 0;
    display: flex;
}

.CalendarItem > a {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.CalendarItem > a:visited {
    text-decoration: none;
    color: inherit;
}

.CalendarItemTop {
    height: 65%;
    width: 100%;
}

.CalendarItemBottom {
    background-color: white;
    height: 35%;
    width: 100%;
}

.CalendarItemTop img {
    height: 100%;
    width: 100%;
}

.CalendarItemBottom h5 {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: varta-regular;
    font-size: 10pt;
}

.CalendarItemBottom .OpenDoorTitle {
    font-family: varta-bold;
}

.Hidden {
    display: none;
}

#DayContainer {
    background-color: white;
    margin: 20px;
    padding: 20px;
    max-width: 500px;
}

#SongPreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#songYoutubeContainer {

}

#songSpotifyContainer {
    margin-top: 10px;
}

.YoutubeDev {
    border-radius: 12px;
    height: 152px;
    width: 300px;
    background-color: #FF0000;
}

.SpotifyDev {
    border-radius: 12px;
    height: 152px;
    width: 300px;
    background-color: #1ED760;
}

#songQuote {
    font-family: playfair-display-extrabold;
    font-size: 20pt;
}

#songExplaination {
    font-family: varta-light;
}

#songTitle {
    margin: 0;
    font-family: playfair-display-bolditalic;
    font-size: 15pt;
}

#songArtist {
    margin: 0;
    font-family: playfair-display-bolditalic;
    font-size: 15pt;
}

#songSeparator {
    height: 3px;
    background-color: black;
    border: 0;
}